.btn {
    padding: 8px 4px;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    min-width: 128px;
    background: transparent;
    cursor: pointer;

    &:disabled {
        cursor: default;
    }

    &.btn-primary {
        background: $base;
        color: $white;

        &:hover {
            background: darken($base, 10);
            color: $white;
        }

        &:active {
            background: lighten($base, 10);
        }

        &:disabled {
            background: desaturate($base, 50);
            color: $white;
        }
    }

}
