*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    font-family: $font-family-text;
    color: $font-color;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.4rem;
}

img, svg {
    max-width: 100%;
}

hr {
    margin: 16px 0px 16px 0px;
    border: 1px solid $gray;
}