.bg-base {
    background: $base;
}

.bg-gray {
    background: $gray;
}

.bg-white {
    background: $white;
}

.color-base {
    color: $base;
}

.color-white {
    color: $white;
}

.hidden {
    display: none;
}

.clearfix {
    clear: both;
}
