.bg-base {
    background: $base;
}

.bg-base-light {
    background: lighten($base, 43);
}

.bg-gray {
    background: $gray;
}

.bg-white {
    background: $white;
}

.color-base {
    color: $base;
}

.color-white {
    color: $white;
}

.box-base {
    border: 5px solid $base;
    padding: 2rem 4rem;
}

.hidden {
    display: none;
}

.clearfix {
    clear: both;
}

.ta-center {
    text-align: center;
}

tt-uppercase {
    text-transform: uppercase;
}