// Colors

$base: #1267fa;
$gray: #e9e9e9;

$white: #fff;

$alert: #cc0000;
$success: #00cc81;
$warning: #fba343;

$font-color: #555555;

// Font

$font-family-text: 'Nunito', sans-serif;


// Grid

$wrapper-width: 860px;
$grid-columns: 12;
$gutter-width: 32px;
$outer-margin: 16px;

$breakpoints:
    sm 320px 288px,
    md 768px 736px,
    lg 1152px 960px;