// Colors

$base: #1267FA;
$gray: #f3f3f3;

$white: #fff;


// Font

$font-family-text: 'Avenir', 'Open Sans', sans-serif;


// Grid

$wrapper-width: 960px;
$grid-columns: 12;
$gutter-width: 32px;
$outer-margin: 16px;

$breakpoints:
  sm 320px 288px,
  md 768px 736px,
  lg 1152px 960px;