input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input:not([type]),
textarea,
select {
	background-color: $white;
	border: 1px solid $gray;
	box-sizing: border-box;
	padding: 16px;
	line-height: 1;
	width: 100%;
	max-height: 48px;
	margin-top: 8px;
	background-image: none;
	// font-family: $font-family-text;

	&:focus {
		border: 2px solid $base;
		padding: 15px;
		caret-color: $base;
	}

	&::placeholder {
		color: $gray;
	}

	&:disabled {
		background: $gray;
		border: 1px solid $gray;
	}

}


select {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%blue" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
	padding-right: 3.0rem;
	&:focus {
    	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%239b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  	}
}

textarea {
	min-height: 6.5rem;
}

label, legend {
	display: block;
	font-size: 14px;
	line-height: 16px;
	height: 16px;
	text-align: left;
}

input[type='checkbox'],
input[type='radio'] {
	display: inline;
}

.label-inline {
	display: inline-block;
	font-weight: normal;
  	margin-left: .5rem;
}

.form-group {
	margin-bottom: 24px;

	.help-block {
		margin-top: 8px;
		font-size: 14px;
		line-height: 16px;
		float: right;
		display: none;
	}
}

.input-group {
	display: flex;
	margin-top: 8px;

	.form-control {
		flex: 1;
		margin-top: 0;
		border-right: 0;
	}

	.form-control:focus {
		border-right: 0;
	}

	.form-control:focus + .input-group-addon {
		border: 2px solid $base;
		border-left: 0;
	}

	.form-control:focus + .input-group-addon > svg {
		position: relative;
		top: -1px;
		left: 1px;
	}

	.input-group-addon {
		background: transparent;
		height: 48px;
		width: 48px;
		box-sizing: border-box;
		line-height: 48px;
		text-align: center;
		border: 1px solid $gray;
		border-left: 0;
	}
}




.has-error {

	.help-block {
		display: block;
	}

	& .form-control {
		// border: 2px solid $alert;

		&:focus  {
			// border: 2px solid $alert;
			padding: 16px;
		}

		& + .help-block {
			// color: $alert;
		}
	}

	& > .input-group {

		& + .help-block {
			// color: $alert;
		}

		& > .form-control {
			border-right: 0;
		}
	}

	.form-control + .input-group-addon {
		// border: 2px solid $alert;
		border-left: 0;

		& > span.sc-icon {
			display: none;
		}
	}

	.form-control:focus + .input-group-addon {
		// border: 2px solid $alert;
		border-left: 0;
	}

}
